/******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
.bgi {
  position: absolute;

  &:nth-child(1) {
    width: 35%;
  }
  &:nth-child(2) {
    width: 55%;
  }
  &:nth-child(3) {
    width: 95%;
    top: -45%;
    right: -40%;
  }
  &:nth-child(4) {
    width: 55%;
    top: 42%;
    right: -20%;
    z-index: -200;
    @include animation(
      $name: right-in,
      $duration: 1s,
      $timing-function: ease-in-out,
      $delay: 1.9s
    );
  }
}

.about {
  &_short {
    opacity: 0;
    visibility: hidden;
  }
  &_long {
    opacity: 1;
    visibility: visible;
  }

  &_title {
    width: 42%;
  }

  &_menu {
    top: 15%;
    width: 40%;
  }

  &_bg {
    height: 80%;
    margin-top: 8%;

    &_2 {
      width: 60%;
    }

    &_egg {
      width: 45%;
      position: absolute;
      top: 39%;
      right: 0;
      z-index: -1000;
    }
  }

  &_me {
    pointer-events: visible;
    &:hover {
      transform: translateY(-10%) rotate(20deg);
      cursor: pointer;
    }
  }
}

.me_wrapper {
  width: 45%;
  height: 1000px;
  right: 0%;
  transform: translate(0%);
  z-index: 400;
  top: 10%;
  overflow: visible;
}

.works {
  margin-top: -60%;

  &_title {
    width: 30%;
    padding-top: 10%;
    left: 8%;
  }

  &_btn {
    display: none;
  }

  &_img {
    width: 100%;
    padding: 16px;
    border-radius: 32px;

    &:hover {
      opacity: .3;
      }
    &:hover + .works_description {
      visibility: visible;
      }
    }
  

  &_description {
    position: absolute;
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: .6em;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    pointer-events: none;
    visibility: hidden;

  }

  .swiper-button-prev,
.swiper-button-next {
  top: 60%;
  &:after {
    color: #2882c3;
    font-size: 80px;
    font-weight: bold;
    cursor: pointer;
  }
  &:hover {
    opacity: .8;
  }
}

}



.contact {
  margin-top: 0%;
  height: 90vh;
  &_title {
    width: 35%;
    left: 8%;
  }

  &_form {
    top: 25%;
    left: 50%;
  }

  &_bg {
    width: 300%;
    top: 6%;
    right: -100%;
    z-index: -100;
    pointer-events: none;
  }
}

.finger {
  left: 8%;
  width: 10%;
}

.footer_bg {
  width: 64%;
  bottom: -1%;
  left: 15%;
}

